[submodule "themes/suka"]
	path = themes/suka
	url = https://github.com/Insouciant21/hexo-theme-suka
[submodule "themes/next"]
	path = themes/next
	url = https://github.com/theme-next/hexo-theme-next
